# Default ignored files
/shelf/
/workspace.xml

# IntelliJ IDEA specific files
/.idea/
/*.iml
/out/
/*.xml

# Maven specific files
/target/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Exclude compiled Java classes
*.class

# Exclude temporary files
*.tmp
*.swp